<form method="post" action="/devTools/Create">
	<div class="form-group">
		<label>Item Name</label>
		<input type="text" class="form-control" placeholder="Item Name" name="iName">
	</div>
	<div class="form-group">
		<label>Item Description</label>
		<input type="text" class="form-control" placeholder="Username" name="iDescription">
	</div>
	<div class="form-group">
		<label>Strength:</label> <label class="strValue">N-A</label><br>
		<label>Magic:</label> <label class="mValue">N-A</label><br>
		<label>Luck:</label> <label class="lckValue">N-A</label><br>
	</div>
	<button class="btn btn-default" type="button" onclick="alert('Hello World!')">Click Me!</button>
	<input type="submit" value="Submit" class="btn btn-default">
</form>