<select id="ItemType">
   <option value="Helmet">Helmet</option>
   <option value="BreastPlate">Breastplate</option>
   <option value="Greaves">Greaves</option>
   <option value="Weapon">Weapon</option>
   <option value="Offhands">Off hands</option>
</select> 